* {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}


.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12%;
}

.start-page > h1, p {
    text-align: center;
}

.intro1 {
    font-size: 50px;
    text-shadow: 2px 2px 5px lightpink;
}

.intro2 {
    font-size: 40px;
}

.introButton {
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    background-color: mistyrose;
    

}

.question{
    padding-left: 5%;
}

.question-content{
    text-align: left;
}

.current-question{
    margin-bottom: 0px;
}

.answer-options{
    padding: 0% 5% 0% 5%;
}

.options{
    margin-top: 5px;
    margin-bottom: 5px;
}

.feedback-box{
    border: 1px solid red;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.feedback-answer{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    font-size: .5rem;
}

.score{ 
    margin-bottom: 5px;
    margin-top: 10px;
}
#score-counter{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
}
.correct-count, .wrong-count{
    font-size: 14px;

}

.score-button{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}


.button-container{
    display: flex;
    /* float: right; */
    margin-left: 32%;
    height: 50px;
    margin-top: 15px;
}

.submit-button{
    padding: 5px 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    background-color: mistyrose;
    font-size: 1.5rem;
}

.see-results-button{
    padding: 5px 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    background-color: mistyrose;
    font-size: 1rem; 
}